@charset "UTF-8";

img{
	object-fit : cover;
}

#result .result-container .articles-wrap .flat-card {
    position: relative;
    text-align: left;
    display: inline-block;
    /* width: 217px; */
     margin-right: 20px;
    margin-bottom: 40px;
}

#result .result-container .articles-wrap .flat-card:nth-child(3n-2) {
    margin-right: 20px;
}